<h1 class="fs-4 py-3">{{product.name}}</h1>

<div class="row g-3">
    <div class="col-md-4">
        <img width="400" src="{{product.image}}" class="img-thumbnail" alt=".{{product.name}}">
    </div>
    <div class="col-md-8">
        <h3><strong>R${{product.price}}</strong></h3>
        <p>{{product.description}}</p>
        <form action="/products/remove/{{product._id}}" method="POST" class="py-2">
            <input type="submit" value="Excluir" class="btn btn-danger btn-sm ">
        </form>  
        <form action="/products/edit/{{product._id}}" method="GET">
            <input type="submit" value="Editar" class="btn btn-warning btn-sm">
        </form>  
        <p><a href="/products" class="ref">Voltar</a></p>
    </div>
</div>

